.container__small-card{
margin-bottom: 15px;
width: 150%;
display: flex;
flex-direction: row;
}

.small-card__photo > img{
width: 200px;
min-width: 200px;
margin-right: 20px;
}

.scall-card__title {
display: flex;
justify-content: center;
align-items: center;
}

.container__small-card-content{
  display: flex;
flex-direction: row;
}

.container_small-card-separator{
  margin-top: 10px;
}
